<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singup</title>
</head>
<body>
    <form action="/user" method="post">
        <h1>Sing Up</h1>
        <Label>Full name</Label>
        <input type="text" required name="name">
        <Label>email</Label>
        <input type="text" required name="email">
        <Label>Password</Label>
        <input type="text" required name="password">
        <button type="submit">Singup</button>
    </form>
   

</body>
</html>